body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
}


.main-contents {
    display: flex;
}

.right-col-contents {
    margin: 0px;
    box-shadow: 0 4px 8px 0 #fff0a6 inset, 0 6px 20px 0 #fff0a6 inset;
    min-width: 75%;
    justify-contents: center;
    padding: 20px;

}

.header-logged-in{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: large;
    /*margin-bottom: 6px;*/
    border-bottom: 4px solid #ffd400;
}

.header-logged-in a header{
    margin-left: 16px;
}

.header-logged-in nav a{
    color: orange;
    font-style: italic;
    padding: 2px;
}

.sidebar-menu {
    margin: 16px;
}

.sidebar-menu nav ol {
    list-style-type: none;
    padding: 0px;
}

.sidebar-menu nav ol li {
    padding-left: 0px;
    margin-top: 4px;
}

.sidebar-menu nav ol li ol li{
    padding-left: 10px;
    margin-top: 0px;
    font-size: 90%;
}

#visitor-view-link {
    font-size: small;
    color: #393572;
}

.side-menu-heading {
    background-color: #ffd400;
    color: white;
    font-weight: bold;
    padding: 1px 1px 1px 2px;
}

.side-menu-sub-heading {
    box-shadow: 0 4px 8px 0 #fff0a6 inset, 0 6px 20px 0 #fff0a6 inset;
    padding: 1px 1px 1px 4px;
}

.side-menu-sub-heading a {
    color: black;
    text-decoration: none;
}

.side-menu-sub-heading a:hover {
    color: black;
    text-decoration: underline;
}

.caret-drop-down {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.caret-drop-down {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2px;
}
.caret-drop-down span{
    background-color: #ffd400;
}


.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
}
.caret.down{
    border-top-color: white;
}

.caret.up{
    border-bottom-color: black;
}

.form-style1 {
    background-color: #ECECEC;
    padding: 12px 8px 12px 8px;
}

.form-style1 div {
    background-color: #ECECEC;
    padding: 12px 8px 12px 8px;
}

.form-style1 label {

}

.form-style1 label input {
    /*width: 100%;*/
    /*margin: 2px 4px 2px 4px;*/
}

