body {
    margin: 0;
    padding: 0;
}

.main-contents {
    display: flex;
}

.right-col-contents {
    margin: 0px;
    box-shadow: 0 4px 8px 0 #fff0a6 inset, 0 6px 20px 0 #fff0a6 inset;
    min-width: 80%;
    justify-contents: center;
    padding: 20px;

}

.header-logged-in{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: large;
    /*margin-bottom: 6px;*/
    border-bottom: 4px solid #ffd400;
}

.header-logged-in a header{
    margin-left: 16px;
}

.header-logged-in nav a{
    color: orange;
    font-style: italic;
    padding: 2px;
}

.sidebar-menu {
    margin: 16px;

}

.sidebar-menu nav ol {
    list-style-type: none;
    padding: 0px;
}

.sidebar-menu nav ol li {
    padding-left: 16px;
    margin-top: 4px;
}

.caret-drop-down {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
}
.caret.down{
    border-top-color: black;
}

.caret.up{
    border-bottom-color: black;
}

.form-style1 {
    background-color: #ECECEC;
    padding: 12px 8px 12px 8px;
}

.form-style1 label {

}

.form-style1 label input {
    /*width: 100%;*/
    /*margin: 2px 4px 2px 4px;*/
}

