body {
    margin: 0;
    padding: 0;
}

.main-contents {
    display: flex;
}

.right-col-contents {
    margin: 20px;

}

.header-logged-in{
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
    margin-bottom: 6px;
}

.header-logged-in a header{

}

.header-logged-in nav a{
    color: orange;
    font-style: italic;
    padding: 2px;
}

.sidebar-menu {
    margin: 16px;

}

.sidebar-menu nav ol {
    list-style-type: none;
    padding: 0px;
}

.sidebar-menu nav ol li {
    padding-left: 16px;
    margin-top: 4px;
}

.caret-drop-down {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
}
.caret.down{
    border-top-color: black;
}

.caret.up{
    border-bottom-color: black;
}

.form-style1 {
    background-color: #ECECEC;
    padding: 12px 8px 12px 8px;
}

.form-style1 label {

}

.form-style1 label input {
    width: 100%;
    /*margin: 2px 4px 2px 4px;*/
}

