<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles-template-one.css}"/>
    <script th:src="@{/script-newartworkform.js}"></script>
</head>
<body>

<!--Header Fragment when artist logged in-->
<div th:fragment="header-logged-in">
    <div class="header-logged-in">
        <a th:href="@{'/wardrobe/'+${artistId}}">
            <header><img src="/images/wardrobe.jpg" alt="wardrobe" height="40"></header>
<!--            <header>img-wardrobe</header>-->
        </a>
        <nav>
            <a href="/logout">
                <img src="/images/lamppost.jpg" alt="wardrobe" height="40">
            </a>
        </nav>
    </div>
</div>

<div th:fragment="sidebar-menu">
    <div class="sidebar-menu">
        <nav>
            <ol>
                <li>
                    <a id="visitor-view-link" th:href="@{'/wardrobe/'+${artistId}+'/visitorview'}">view visitor view</a>
                </li>
                <br>
                <li>
                    <div class="side-menu-heading">
                        <div class="caret-drop-down">
                            <a>Artist Profile</a><span class="caret down"></span>
                        </div>
                    </div>
                    <ol>
                        <li>
                            <div class="side-menu-sub-heading">
                            <a>Artist Profile</a>
                            </div>
                        </li>

                    </ol>
                </li>
                <li>
                    <div class="side-menu-heading">
                    <div class="caret-drop-down">
                        <a>Art</a><span class="caret down"></span>
                    </div>
                    </div>
                    <ol>
                        <li>
                            <div class="side-menu-sub-heading">
                            <a th:href="@{'/wardrobe/'+${artistId}+'/artwork'}">View All Artwork</a>
                            </div>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <div class="caret-drop-down">
                            <a>View by Collection</a><span class="caret down"></span>
                            </div>
                            </div>
                            <ol th:each="collection : ${collections}">
                                <li>
                                    <a th:text="${collection.name}"
                                       th:href="@{'/wardrobe/'+${artistId}+'/collections/'+${collection.id}}"></a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <div class="caret-drop-down">
                                <a>View by Product Type</a><span class="caret down"></span>
                            </div>
                            </div>
                            <ol th:each="type : ${productTypes}">
                                <li>
                                    <a th:text="${type.name}"
                                       th:href="@{'/wardrobe/'+${artistId}+'/producttype/'+${type.id}}"></a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <div class="caret-drop-down">
                                <a>View by Product Category</a><span class="caret down"></span>
                            </div>
                            </div>
                            <ol th:each="category : ${productCategories}">
                                <li>
                                    <a th:text="${category.name}"
                                       th:href="@{'/wardrobe/'+${artistId}+'/productcategory/'+${category.id}}"></a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <a th:href="@{'/wardrobe/'+${artistId}+'/artwork/new'}">Create A New Artwork</a>
                            </div>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <a th:href="@{'/wardrobe/'+${artistId}+'/collections'}">View All Collections</a>
                            </div>
                        </li>
                        <li>
                            <div class="side-menu-sub-heading">
                            <a th:href="@{'/wardrobe/'+${artistId}+'/collections/new'}">Create A New Collection</a>
                            </div>
                        </li>
                    </ol>
                </li>

            </ol>
        </nav>
    </div>

</div>

</body>
</html>