<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles-template-one.css}"/>
    <script th:src="@{/script-newartworkform.js}"></script>
</head>
<body>

<div class="background">
    <div class="center-panel">
        <div class="banner">
            <header>ARTIST</header>
        </div>
        <div class="template1-menu">
            <nav>
                <ol>
                    <li id="menu-opt1"><a th:text="${menuTitle1}"></a></li>
                    <li id="menu-opt2"><a id="trial" th:text="${menuTitle2}"></a></li>
                    <li id="menu-opt3"><a th:text="${menuTitle3}"></a></li>
                </ol>
            </nav>
        </div>
        <div class="contents-opt2">
            <h2>ART</h2>
        </div>

    </div>

</div>

</body>
</html>