<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles-template-one.css}"/>
    <script th:src="@{/script-newartworkform.js}"></script>
</head>
<body>

<div class="background">
    <div class="center-panel">
        <div class="banner">BANNER</div>
        <div class="template1-menu">
            <nav>
                <ol>
                    <li th:text="menuTitle1"></li>
                    <li th:text="menuTitle2"></li>
                    <li th:text="menuTitle3"></li>
                </ol>
            </nav>
        </div>

    </div>

</div>

</body>
</html>