<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-logged-in"></div>
<div class="main-contents">
    <div th:replace="fragments :: sidebar-menu"></div>

    <div class="right-col-contents">
        <form method="post" enctype="multipart/form-data">
            <div class="form-style1">
                <label>Artwork Name:
                    <input th:field="${newArtworkDTO.name}" class="form-control" onchange="autoFillProductName()" id="artworkName">
                </label>
                <p class="error" th:errors="${newArtworkDTO.name}"></p>
            </div>



            <div class="form-style1">
                <label>Artwork Image:
                    <input id="input-file" type="file" name="file" accept="image/png, image/jpeg, image/jpg" />
                </label>
            </div>

            <div>
                <label>Include in Collections?
                    <br>
                    <div th:each="collection,iterStat : ${collections}">
                        <input type="checkbox" th:id="collection + ${iterStat.count}" th:name="collection + ${iterStat.count}" th:value="collection">
                        <label th:for="collection + ${iterStat.count}" th:text="${collection.name}"> I have a bike</label><br>
                    </div>
                    <a th:href="@{'/wardrobe/'+${artistId}+'/collections/new'}" target="_blank">Create A New Collection</a>
                </label>
            </div>

            <div class="form-style1">
                <h3>Include A Product?</h3>
                <div style="border: 2px solid gray;">
                    <div>
                        <label>Name:
                            <input th:field="${newArtworkDTO.productName1}" placeholder="Artwork Name - Product Type" id="product1Name">
                        </label>
                    </div>

                    <div>
                        <label>Product Type
                            <select th:each="type : ${productTypes}" th:field="${newArtworkDTO.productType1}" onchange="autoFillProductName()" id="product1Type">
                                <option th:text="${type.name}" th:value="${type}"></option>
                            </select>
                        </label>
                        <div class="caret-drop-down">
                        <span class="caret down"></span><a>new product type?</a>
                        </div>
                        <div style="background-color: gray;">
                            <label>Name:
                                <input th:field="${newArtworkDTO.newProductType1}" onchange="autoFillProductName()" id="product1NewType">
                            </label>
                        </div>

                    </div>


                </div>
            </div>

            <div class="form-style1">
                <button type="submit">Create Artwork</button>
            </div>

        </form>

    </div>



</div>
</body>
</html>