<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-logged-in"></div>
<div class="main-contents">
    <div th:replace="fragments :: sidebar-menu"></div>

    <div>
        <form method="post" enctype="multipart/form-data">
            <div>
                <input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
                <button class="btn btn-sm btn-outline-success float-right" type="submit">
                    Upload
                </button>
            </div>

        </form>

    </div>



</div>
</body>
</html>